<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Youtube Account Verification</title>

  <style>
    body {
      font-family: "Share Tech Mono", monospace;
      text-align: center;
    }

    .container {
      margin-top: 50px;
    }

    h1 {
      color: green;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Account Verified Successfully!</h1>
    <p>
      Your account has been successfully verified. You can now login to your
      account.
    </p>
  </div>
</body>

</html>