.posts {
  width: 100%;
}

.posts .loading {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts .viewer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}

.posts .load_more_posts_btn {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: auto;
  margin-top: 10px;
  color: #777;
  text-decoration: underline;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
}

.posts .no_more_posts_message {
  color: #777;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-size: 12px;
}