.register_form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--bgLighter);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.register_form h2 {
  width: 100%;
  text-align: center;
  font-weight: 500px;
  margin-bottom: 10px;
}

.register_form .error_message {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: firebrick;
  background-color: lightpink;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.register_form .success_message {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #008000;
  background-color: #d9f7d6;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.register_form > div {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.register_form > div > span.check_mark {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.register_form input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--bgLighter);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.register_form > div > p.instructions {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  z-index: 99;
  width: 100%;
  font-size: 0.75rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.register_form > div > p.instructions > svg {
  margin-right: 0.25rem;
}

.register_form > div > p.instructions > span {
  font-size: 0.75rem;
}

.register_form .valid {
  color: limegreen;
}

.register_form .invalid {
  color: red;
}

.register_form .avatar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.register_form .avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  user-select: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.register_form .avatar input {
  flex: 1;
}

.register_form .avatar .upload_avatar_progress {
  width: 50px;
  height: 50px;
  font-size: 14px;
  border: 1px solid var(--bgLighter);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.register_form button[type="submit"] {
  border: none;
  outline: none;
  padding: 8px 45px;
  margin: auto;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: inherit;
  background-color: var(--bgLighter);
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.register_form button[type="submit"] span {
  font-size: 12px;
  font-weight: 500;
}

.register_form .controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.register_form .controllers button {
  border: none;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
  color: inherit;
  background: none;
}
