.main_content {
  max-width: 1600px;
  margin: auto;
  display: flex;
  color: var(--text);
  background-color: var(--bg);
}

.current_page {
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .current_page {
    padding-bottom: 65px;
  }
}
